form action="/movies/new" method="post"
    input type="text" name ="title" placeholder="Titel på film"
    input type="text" name ="artist_id" placeholder="id för film"
    input type="submit" value="skapa album"