form action="/movies/new" method="post"
    input type="text" name="title" placeholder="Filmtitel"/
    input type="text" name="studio_name" placeholder="Filmstudio"
    input type="submit" value="Lägg till film"/